h1 {
  text-align: center;
  color: white;
}

body {
  background-image: url('https://i.pinimg.com/originals/f3/64/b7/f364b7d0a49566891789d291b8b2e53f.png');
}

.color {
  display: inline-block;
  border: black solid 1px;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  margin-left: 10px;
}

.box {
  display: flex;
  justify-content: center;
}

.pixel {
  border: black solid 1px;
  height: 40px;
  width: 40px;
  background-color: white;
  margin: 0;
  display: inline-block;
}

#pixel-board {
  margin: 20px auto;
}

#color-palette {
  display: flex;
  justify-content: center;
}

#black {
  background-color: black;
}

.selected {
  background-color: black;
  width: 40px;
  height: 40px;
  border: black solid 1px;
}

#buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

button , input {
  margin: 0 10px;
  width: 80px;
}

button {
  background-color: white;
}
