h1 {
  text-align: center;
}

body {
  background-color: rgb(233, 255, 248);
}

.color {
  display: inline-block;
  border: black solid 1px;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  margin-left: 10px;
}

.box {
  display: flex;
  justify-content: center;
}

.pixel {
  border: black solid 1px;
  height: 40px;
  width: 40px;
  background-color: white;
  margin: 0;
  display: inline-block;
}

#pixel-board {
  margin: 20px auto;
}

#color-palette {
  display: flex;
  justify-content: center;
}

#black {
  background-color: black;
}

.selected {
  background-color: black;
  width: 40px;
  height: 40px;
  border: black solid 1px;
}

#buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

button, input {
  margin: 0 10px;
  width: 80px;
}